<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/log/log.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}"/>
      <target name="console" layout="${longdate} ${message} ${exception:format=tostring}" type="ColoredConsole">
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeto="file"></logger>
      <logger name="*" minlevel="Debug" writeto="console"></logger>
    </rules>
  </nlog>
  <appSettings>
    <add key="brokerList" value="121.40.209.233:9092"/>
    <add key="topics" value="test-rds6933o4p20a058709c"/>
    <add key="connection" value="http://101.37.84.87:9200/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
