<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/log/log.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${message} ${exception}" />
      <!--<target name="console" layout="${longdate} ${message} ${exception:format=tostring}" type="ColoredConsole">-->
      <!--</target>-->
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Debug" writeto="console"></logger>-->
      <logger name="*" minlevel="Debug" writeto="file"></logger>
    </rules>
  </nlog>
</configuration>