<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ImageConfiguration>
    <Global>
      <Domain>lc</Domain>
      <OfficeName>王者</OfficeName>
      <RunTime>10:43</RunTime>
      <FixedPeriod>1</FixedPeriod>
      <StartTime>2000-03-01</StartTime>
      <EndTime>2017-03-01</EndTime>
      <UserName>linkedin</UserName>
      <UserPwd>linkedin1203</UserPwd>
      <ImgWepApiHostUrl>http://img-upload.cn:80</ImgWepApiHostUrl>
      <ImgUploadHostUri>http://img-upload.cn:90</ImgUploadHostUri>
      <ManualUploadBrandType>Sidexis</ManualUploadBrandType>
      <AutoUploadBrandType>DBSwin</AutoUploadBrandType>
      <UploadType>自动上传|手动上传</UploadType>
    </Global>

    <Sidexis>
      <RootDirectory>C:\PDATA\</RootDirectory>
      <ImageCategory>1</ImageCategory>
      <Master>Data Source=.;Initial Catalog=master;User ID=sa;password=123;</Master>
      <DbConnectString>Data Source=.;Initial Catalog=PDATA_SQLEXPRESS;User ID=sa;password=123;</DbConnectString>
      <JobLogDb>Data Source=.;Initial CataLog=JobLogDb;User ID=sa;password=123;</JobLogDb>
    </Sidexis>

    <EasyDent>
      <RootDirectory>C:\西诺德影像文件\赛斯</RootDirectory>
      <ImageCategory>1</ImageCategory>
      <Master>Data Source=.;Initial Catalog=master;Integrated Security=True;</Master>
      <DbConnectString>Data Source=.;Initial Catalog=TSFD;Integrated Security=True;</DbConnectString>
      <JobLogDb>Data Source=.;Initial Catalog=JobLogDb;Integrated Security=True;</JobLogDb>
    </EasyDent>

    <PointNix>
      <RootDirectory>C:\盘泰\盘泰CDX-1\PointNix\CDX-View</RootDirectory>
      <ImageCategory>1</ImageCategory>
      <Master>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\盘泰\盘泰CDX-1\PointNix\CDX-View\JobLogDb.mdb;</Master>
      <DbConnectString>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\盘泰\盘泰CDX-1\PointNix\CDX-View\ImageInfo.mdb;</DbConnectString>
      <JobLogDb>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\盘泰\盘泰CDX-1\PointNix\CDX-View\JobLogDb.mdb;</JobLogDb>
    </PointNix>

    <DBSwin>
      <RootDirectory>C:\普瑞口腔迪尔DBSwin</RootDirectory>
      <ImageCategory>1</ImageCategory>
      <Master>FireBird</Master>
      <DbConnectString>data source=localhost;initial catalog=C:\普瑞口腔迪尔DBSwin\database\DUERRDBSWIN.FDB;user id=sysdba;password=masterkey;</DbConnectString>
      <JobLogDb>data source=localhost;initial catalog=C:\普瑞口腔迪尔DBSwin\database\JoblogDb.FDB;user id=sysdba;password=masterkey;</JobLogDb>
    </DBSwin>
    
  </ImageConfiguration>
  <connectionStrings>
    <add name="master"  connectionString="Data Source=.;Initial Catalog=master;User ID=sa;password=123456;" providerName="System.Data.SqlClient"/>
    <add name="PDATA_SQLEXPRESS" connectionString="Data Source=.;Initial Catalog=PDATA_SQLEXPRESS;User ID=sa;password=123456;" providerName="System.Data.SqlClient"/>
    <add name="JobLogDb" connectionString="Data Source=.;Initial CataLog=JobLogDb;User ID=sa;password=123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ImageBrandType" value="西诺德"/>
    <add key="RootDirectory" value="C:\PDATA\"/>
    <add key="Domain" value="lc"/><!--hx-->
    <add key="OfficeKeywords" value="王者"/><!--顺德-->
    <add key="RunTime" value="19:02"/>
    <add key="ImageCategory" value="1"/>
    <!--默认全景-->
    <!--<add key="ImageIdentityCount" value="100"/>-->
    <add key="ImgWepApiHostUrl" value="http://img-upload.cn:80"/><!--localhost:53541-->
    <add key="ImgUploadHostUri" value="http://img-upload.cn:90"/><!--localhost:58098-->
    <add key="UserName" value="linkedin"/><!--admin-->
    <add key="UserPwd" value="linkedin2015"/><!--123456-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DbName" value="PDATA_SQLEXPRESS"/>
    <add key="DataSource" value="."/>
    <add key="DbAccount" value="sa"/>
    <add key="DbPwd" value="123"/>
    <add key="UploadType" value="自动上传"/>
    <add key="BrandList" value="西诺德、EasyDental"/>
    <add key="DbNameList" value="PDATA_SQLEXPRESS、Szsmile_Dental"/>

    <add key="ImageType" value="Sidexis|EasyDent"/>
  </appSettings>
</configuration>